:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --adress-text-color: rgba(255, 255, 255, 0.6);
    --primary-bg-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --staff-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --button-bg-color: #2196F3;

}
/* Button */
.button {
    color: var(--title-text-color);
    background-color: var(--staff-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.hero .button.primary {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--button-bg-color);
}
.button.primary {
    color: var(--primary-white-color);
    background-color: var(--button-bg-color);
}
.button.primary:hover, 
.button.primary:focus {
    color: var(--title-text-color);
    background-color: var(--staff-bg-color);
}
.button.secondary {
    color: var(--title-text-color);
    background-color: var(--staff-bg-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--button-bg-color);
}

/* Body */
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: 'roboto',sans-serif;
    letter-spacing: 0.03em;
    }
.section-title,
.list-title {
    color: var(--title-text-color);
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center}
a {
    text-decoration: none;
}
.list {
    list-style: none;
}

/* <Header> */
.logo-web {
        font-family: 'Raleway',sans-serif;
        font-size: 26px;
        line-height: 1.19;
    color: var(--accent-text-color);
    }
.logo-web:hover,
.logo-web:focus {
    color: var(--title-text-color);}
.logo-web:hover .logo-studio,
.logo-web:focus .logo-studio {
    color: var(--accent-text-color);
}
.logo-studio {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-text-color)}
.logo-studio:hover,
.logo-studio:focus{
    color: var(--accent-text-color);
}
/* Site nav */
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-text-color);
}
.site-nav .link.current {
    color: var(--accent-text-color);
}
.site-nav .current:hover, 
.site-nav .current:focus {
    color: var(--title-text-color);
}
.auth-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.auth-nav .link:hover,
.auth-nav .link:focus {
color: var(--accent-text-color);
}

/* </Header> */

/* hero index.html*/
.hero {
    background-color: var(--hero-bg-color);
}
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;}

/* Feature */
.feature .text {
    font-size: 14px;
    line-height: 1.7;
}
.feature .list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase
}


/* Staff */
.staff {
    background-color: var(--staff-bg-color);
}
.staff .list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.staff p {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;}
/* Footer */
.footer {
    background-color: var(--footer-bg-color);
}
.logo-footer-web {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-text-color);
}
.logo-footer-web:hover,
.logo-footer-web:focus {
    color: var(--primary-white-color);
}
.logo-footer-web:hover .logo-footer-studio,
.logo-footer-web:focus .logo-footer-studio {
    color: var(--accent-text-color);
}
.logo-footer-studio {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-white-color)
}
.logo-footer-studio:hover,
.logo-footer-studio:focus {
    color: var(--accent-text-color);
}
.address {
    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    }

.list-link {
    color: var(--adress-text-color);
    font-size: 14px;
    line-height: 1.7;
}
.list-link:hover,
.list-link:focus {
    color: var(--accent-text-color);
}


/* Portfolio *//* Portfolio *//* Portfolio *//* Portfolio */
.card-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.card-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
}

/*цвет заголовков  #212121 */
/* первичній текст текст #757575 */
/* цвет текста в герое #FFFFFF */
/* акцент #2196F3 */
/* цвет фона героя #2F303A */
/* цвет фона особенности #F5F5F5 */
/* цвет фона наша команда #F5F4FA */
/* цвет Телефона и эмейла в адресе rgba(255, 255, 255, 0.6) */